*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
p {
    color: #acafac;
    font-weight: bold;
}
  h1 {
    font-weight: bold;
    color: #0e4f16;
    font-size:  50px;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    font-family: Helvetica, sans-serif
}
h1 {
    transition: font-size 0.3s ease;
  }
  
  h1:hover {
    font-size: 70px;
  }
    h2 {
        color: #ffffff;
    }

    h4{
        color: #ffffff;
        margin-bottom: 15px;
    }

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 5px;
    border: solid  #d5d2d2;
    }

button {
    background-color: #0e4f16;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #00cc00;
}

 span a {
    transition: color 0.2s ease 0s;
    color: rgb(245, 245, 245);
    border-bottom: 1px solid #00cc00;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 50%;
    margin-bottom: 10px;
}

li {
    list-style: none;
    margin: 0.25rem 0.5rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.footer {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    background: #1f2821;
    color: #808180;
    padding: 3.5rem 0px;
    min-height: calc(120px);
    width: 100%;
}

.card-text p:nth-child(2n) {
    margin-bottom: 1em;
    color: #ffffff;
  }

  .icon img {
    height: 60px;
    width: 60px;
    padding: 5px;
    position: absolute;
}


@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.card {
    width: 600px;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: #354338;
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards horizontalmente */
    align-items: center; /* Centralizar os cards verticalmente */
    gap: 10px; /* Espaçamento entre os cards */
    background-image: url(assets/FUNDO.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px; /* Adicionei um espaçamento interno para melhor visualização */
    padding-bottom: 1200px;
}

.card-container {
  position: relative;
}

.card:hover {
    background-color: #069e1f;
}

.search {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 200px;
}

.search input {
    width: 40%;
  }

#grey{
    color: #878787;
    font-weight: bold;
}

.estilo{
    font-weight: bold;
    margin-top: 100px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .green {
    background-color: green;
  }
  
  .gray {
    background-color: gray;
  }
  
  .red {
    background-color: red;
  }

#pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #1f2821;
}

#pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #028200;
    border: none;
    cursor: pointer;
}

#pagination button:hover {
    background-color: #01924e;
}

#pagination button.active {
    background-color: #848484;
    color: #fff;
}

#totalPages {
    margin-top: 10px;
    text-align: center;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    text-align: center;
    width: 30%;
    animation-name: modal-open;
    animation-duration: 0.5s;
}

@keyframes modal-open {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.modal-content.fade-out {
  animation: fade-out 0.3s ease;
}
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilo para a imagem do personagem */
  .modal-content img {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Estilo para o nome do personagem */
  .modal-content h2 {
    color: #2b2b2b;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Estilo para o status do personagem */
  .modal-content h4 {
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Estilo para as últimas informações */
  .modal-content p {
    margin-bottom: 5px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }

  #scrollButton:hover {
    background-color: green;
    transform: scale(1.1);
    transition: background-color 0.3s, transform 0.3s;
}

  #scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}

#scrollButton i {
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 24px;
}

#scrollButton.show {
    display: block;
}

#scrollButton:hover {
    background-color: green;
    transform: scale(1.1);
    transition: background-color 0.3s, transform 0.3s;
}